
<div class="index-page" data-stretch="<%= image_url "slider_1_4.jpg" %>">
	
</div>

<div class="entrance-wrapper">
	<div class="entrance-area">
		<ul class="clear">
			<li><a href="#">洒水车</a></li>
			<li><a href="#">垃圾车</a></li>
			<li><a href="#">油罐车</a></li>
			<li><a href="#">半挂车</a></li>
			<li><a href="#">清障车</a></li>
			<li><a href="#">餐饮车</a></li>
		</ul>
	</div>
</div>


<div class="product-list-area clear">
	<div class="item">
		<a href="#">
			<%= image_tag "week_offer.jpg" %>
			<div class="item-font">
				<a href="#">福田欧曼压缩式垃圾车</a>
			</div>
			<a href="#" class="shade">
				<p>型号：ASD124355433</p>
			</a>
		</a>
	</div>
	<div class="item">
		<a href="#">
			<%= image_tag "week_offer.jpg" %>
			<div class="item-font">
				<a href="#">福田欧曼压缩式垃圾车</a>
			</div>
			<a href="#" class="shade">
				asdas
			</a>
		</a>
	</div>
	<div class="item">
		<a href="#">
			<%= image_tag "week_offer.jpg" %>
			<div class="item-font">
				<a href="#">福田欧曼压缩式垃圾车</a>
			</div>
			<a href="#" class="shade">
				asdas
			</a>
		</a>
	</div>
	<div class="item">
		<a href="#">
			<%= image_tag "week_offer.jpg" %>
			<div class="item-font">
				<a href="#">福田欧曼压缩式垃圾车</a>
			</div>
			<a href="#" class="shade">
				asdas
			</a>
		</a>
	</div>
	<div class="item">
		<a href="#">
			<%= image_tag "week_offer.jpg" %>
			<div class="item-font">
				<a href="#">福田欧曼压缩式垃圾车</a>
			</div>
			<a href="#" class="shade">
				asdas
			</a>
		</a>
	</div>
	<div class="item">
		<a href="#">
			<%= image_tag "week_offer.jpg" %>
			<div class="item-font">
				<a href="#">福田欧曼压缩式垃圾车</a>
			</div>
			<a href="#" class="shade">
				asdas
			</a>
		</a>
	</div>
</div>

<div class="news-list-wrapper">
	<div class="news-list-area clear">
		<div class="item">
			<div class="news-head">
				行业动态
			</div>
			<div class="news-context">
				<ul>
					<li><a href="#">洒水车的日常保养秘诀...</a></li>
					<li><a href="#">洒水车的日常保养秘诀...</a></li>
					<li><a href="#">洒水车的日常保养秘诀...</a></li>
					<li><a href="#">洒水车的日常保养秘诀...</a></li>
					<li><a href="#">洒水车的日常保养秘诀...</a></li>
					<li><a href="#">洒水车的日常保养秘诀...</a></li>
				</ul>
			</div>
		</div>
		<div class="item">
			<div class="news-head">
				公司新闻
			</div>
			<div class="news-context">
				<ul>
					<li><a href="#">洒水车的日常保养秘诀...</a></li>
					<li><a href="#">洒水车的日常保养秘诀...</a></li>
					<li><a href="#">洒水车的日常保养秘诀...</a></li>
					<li><a href="#">洒水车的日常保养秘诀...</a></li>
					<li><a href="#">洒水车的日常保养秘诀...</a></li>
					<li><a href="#">洒水车的日常保养秘诀...</a></li>
				</ul>
			</div>
		</div>
		<div class="item">
			<div class="news-head">
				技术指导
			</div>
			<div class="news-context">
				<ul>
					<li><a href="#">洒水车的日常保养秘诀...</a></li>
					<li><a href="#">洒水车的日常保养秘诀...</a></li>
					<li><a href="#">洒水车的日常保养秘诀...</a></li>
					<li><a href="#">洒水车的日常保养秘诀...</a></li>
					<li><a href="#">洒水车的日常保养秘诀...</a></li>
					<li><a href="#">洒水车的日常保养秘诀...</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
	$(function(){
		$(".index-page").anystretch();
	});
</script>

